html {
    height: 100%;
}
body {
    margin: 0;
    -webkit-app-region: drag;
    background: -webkit-linear-gradient(top, #565A61 0%,#212125 120px,#212125 100%);
    color: #C9C9C9;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 75%;
}
.t_btn {
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    float: right;
    opacity: 0.45;
    z-index: 50;
    cursor: pointer;
    -webkit-app-region: no-drag;
    position: absolute;
    top: 2px;
    background-color: #000;
    border: 1px solid #525252;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
}
.t_btn:hover {
    opacity: 0.7;
}
.close {
    background-image: url('../img/x_w.png');
    right: 2px;
}
ul.menu {
    -webkit-app-region: no-drag;
    list-style-type: none;
    padding: 0;
    margin: 10px;
    overflow: auto;
    height: calc(100% - 20px);
}
ul.menu > li {
    padding: 2px;
    cursor: pointer;
    position: relative;
    padding-right: 24px;
    background-image: -webkit-linear-gradient(left, transparent 0%, rgba(109, 109, 109, 1) 50%, transparent 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    padding-left: 3px;
    padding-right: 3px;
}
ul.menu > li:first-child {
    background-image: none;
}
ul.menu > li:hover {
    background-color: rgba(0, 0, 0, 0.41);
    color: #fff;
    border-radius: 3px;
}
ul.menu > li.active,
ul.collectionList > li.active {
    color: rgb(16, 178, 255);
}
ul.collectionList {
    -webkit-app-region: no-drag;
    list-style-type: none;
    padding: 0;
    margin: 10px;
    overflow: auto;
    height: calc(100% - 20px);
    font-size: 14px;
}
ul.collectionList.join {
    height: calc(100% - 44px);
}
ul.collectionList > li {
    padding: 2px;
    cursor: pointer;
    position: relative;
    padding-right: 24px;
    background-image: -webkit-linear-gradient(left, transparent 0%, rgba(109, 109, 109, 1) 50%, transparent 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
    padding-top: 8px;
}
ul.collectionList > li:first-child {
    background-image: none;
}
ul.collectionList > li:hover {
    background-color: rgba(0, 0, 0, 0.41);
    color: #fff;
    border-radius: 3px;
}
ul.collectionList > li div.icon.playlist {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url(../img/no-cover.png);
    background-size: 32px;
    background-repeat: no-repeat;
    margin-right: 5px;
    float: left;
    margin-top: -3px;
}
div.join_body {
    text-align: right;
    height: 26px;
    margin-top: -11px;
    margin-right: 2px;
}
div.join_body > input[type="button"] {
    height: 26px;
}

.customScroll::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}
.customScroll::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
.customScroll::-webkit-scrollbar-thumb:vertical {
    background-clip: padding-box;
    background-color: #565A61;
    border: 5px solid transparent;
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    height: 5px;
    width: 5px;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 10px;
}
fieldset > legend {
    padding-top: 5px;
    margin-bottom: -8px;
}
fieldset.url div.urlForm {
    -webkit-app-region: no-drag;
}
fieldset.url div.urlForm > input {
    display: inline-block;
}
fieldset.url div.urlForm > input[type="text"] {
    width: 285px;
}
fieldset.url div.urlForm > input[type="submit"] {
    width: 75px;
    margin-left: 5px;
}
fieldset.url div.radioItem {
    display: inline-block;
    margin-top: 2px;
    -webkit-app-region: no-drag;
}
fieldset.url div.radioItem > input {
    float: left;
    margin-top: 2px;
}
fieldset.rename > form > div {
    margin-top: 6px;
}
fieldset.rename input {
    -webkit-app-region: no-drag;
}
fieldset.rename input[type="text"] {
    width: 290px;
}
fieldset.rename input[type="submit"] {
    width: 70px;
    margin-left: 5px;
}
.fl_body {
    height: 100%;
}
.join_body input[type="button"],
.fl_body input[type="button"] {
    margin-top: 5px;
    float: right;
    background-color: rgba(53, 53, 53, 0.59);
    border: rgb(95, 95, 95) solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 34px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    -webkit-app-region: no-drag;
}
.join_body input[type="button"]:hover,
.fl_body input[type="button"]:hover {
    background-color: #424242;
}
.join_body input[type="button"]:active,
.fl_body input[type="button"]:active {
    background-color: #585858;
}
.fl_body input[type="button"]:disabled {
    background-color: #000;
    cursor: default;
}
div.fl_list {
    -webkit-app-region: no-drag;
    height: calc(100% - 69px);
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.46);
}
div.fl_list > div {
    padding: 2px;
    cursor: pointer;
    position: relative;
    padding-right: 24px;
}
div.fl_list > div:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.38);
}
div.fl_list > div:hover {
    background-color: rgba(66, 121, 204, 0.38);
}
div.fl_list > div .play {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    background: url(../img/playback_play_w.png) no-repeat center;
    background-position-y: 2px;
    opacity: 0.7;
}
div.fl_list > div .play:hover {
    opacity: 1;
}
div.fl_list > div input {
    position: absolute;
    right: 0px;
    top: 0px;
}
div.fl_list > div.selected {
    background-color: #0E4E72;
}



body.winamp {
    background: -webkit-linear-gradient(left, #1c1c2c 0%,#383758 50%,#1d1d2d 100%);
    color: rgb(33, 248, 33);
}
.winamp .close {
    background-image: url(../img/winamp/close.png) !important;
    width: 7px;
    height: 7px;
    border-radius: 0;
    border: 0;
    background-color: inherit;
    background-size: 7px 7px;
    top: 4px;
    right: 3px;
    opacity: 1;
    -webkit-filter: inherit;
}
.winamp .close:hover {
    opacity: 1;
    -webkit-filter: brightness(1.5);
}
.winamp .w_head {
    background-image: url(../img/winamp/w_head.png);
    height: 20px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 3px;
    overflow: hidden;
}
.winamp .w_bottom {
    background-image: url(../img/winamp/w_bottom.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
}
.winamp .w_b_l {
    background-image: url(../img/winamp/w_b_l.png);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7px;
    width: 11px;
}
.winamp .w_b_r {
    background-image: url(../img/winamp/w_b_r.png);
    position: absolute;
    right: 0;
    bottom: 0;
    height: 7px;
    width: 8px;
}
.winamp .w_l_t {
    background-image: url(../img/winamp/w_l_t.png);
    position: absolute;
    left: 0;
    top: 0;
    height: 19px;
    width: 11px;
}
.winamp .w_r_t {
    background-image: url(../img/winamp/w_r_t2.png);
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    width: 36px;
}
.winamp .w_left {
    background-image: url(../img/winamp/w_left.png);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 11px;
}
.winamp .w_right {
    background-image: url(../img/winamp/w_right_c.png);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4px;
}
.winamp .collectionList {
    overflow-y: scroll;
}
.winamp .collectionList::-webkit-scrollbar-thumb:vertical,
.winamp .menu::-webkit-scrollbar-thumb:vertical {
    border: 0;
    border-radius: 0;
    border-color: transparent;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 4px;
}
.winamp .collectionList,
.winamp .menu {
    margin-top: 19px;
    background-color: #000;
    height: calc(100% - 24px);
    margin-left: 11px;
    background-image: url(../img/winamp/w_right.png);
    background-repeat: repeat-y;
    background-position-x: 100%;
    margin-right: 0px;
}
.winamp .menu {
    background-image: none;
    margin-right: 6px;
}
.winamp ul.collectionList > li,
.winamp ul.menu > li {
    border-radius: 0;
}
.winamp ul.collectionList.join {
    height: calc(100% - 57px);
}
.winamp div.join_body {
    margin-right: 6px;
}
.winamp fieldset.fl_body div.fl_list > div:hover,
.winamp ul.collectionList > li:hover,
.winamp ul.menu > li:hover {
    background-color: #0000C6;
}
.winamp fieldset.url {
    margin-top: 7px;
}
.winamp fieldset.url > form > div:last-child {
    margin-top: -5px;
}
.winamp fieldset.rename > form > div {
    margin-top: 12px;
    margin-left: 6px;
}
.winamp fieldset.fl_body {
    margin-top: 15px;
    height: calc(100% - 17px);
}
.winamp fieldset.fl_body div.fl_list {
    background-color: #000;
}