body {
    margin: 0;
    -webkit-app-region: drag;
}
body > .dialog {
    display: none;
}
.url_dialog input[name=url] {
    display: inline-block;
    width: 300px;
}
.url_dialog input[name=open_btn] {
    width: 50px;
}
.url_dialog {
    padding-left: 18px;
}