html {
    height: 100%;
}
body {
    margin: 0;
    -webkit-app-region: drag;
    background: -webkit-linear-gradient(top, #565A61 0%,#212125 120px,#212125 100%);
    color: #C9C9C9;
    height: 100%;
}
body > .dialog {
    display: none;
    margin-top: 3px;
}
input {
    -webkit-app-region: no-drag;
}
.url_dialog input[name=url] {
    display: inline-block;
    width: 300px;
}
.url_dialog input[name=open_btn] {
    width: 50px;
}
.url_dialog {
    padding-left: 18px;
}
.playlist_chiser {
    padding-left: 18px;
    padding-right: 15px;
    height: 100%;
}
.playlist_chiser div.playlists {
    -webkit-app-region: no-drag;
    height: calc(100% - 40px);
    overflow: auto;
    margin-top: 2px;
}
.playlist_chiser div.playlists > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.playlist_chiser ul > li {
    height: 43px;
    background-size: 39px 39px;
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(../images/no-cover.png);
    position: relative;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
}
.playlist_chiser ul > li:hover {
    background-color: #39516F;
    color: #fff;
    cursor: pointer;
}
.playlist_chiser ul > li > .gr_line {
    background: -webkit-linear-gradient(left, transparent 0%, rgba(109, 109, 109, 1) 50%, transparent 100%);
    height: 1px;
    margin-top: -5px;
    margin-bottom: 4px;
}
.playlist_chiser ul > li:first-child > .gr_line {
    background: none;
}
.playlist_chiser ul > li > span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 42px;
    margin-top: 8px;
    margin-top: 12px;
    font-size: 120%;
}
div.filelist::-webkit-scrollbar,
.playlist_chiser > div.playlists::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}
div.filelist::-webkit-scrollbar-button,
.playlist_chiser > div.playlists::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
div.filelist::-webkit-scrollbar-thumb:vertical,
.playlist_chiser > div.playlists::-webkit-scrollbar-thumb:vertical {
    background-clip: padding-box;
    background-color: #565A61;
    border: 5px solid transparent;
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    height: 5px;
    width: 5px;
}
.t_btn {
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    float: right;
    opacity: 0.9;
    z-index: 50;
    cursor: pointer;
    -webkit-app-region: no-drag;
    position: absolute;
    top: 2px;
    -webkit-filter: invert(0.8);
    -webkit-filter: brightness(1.1);
    background-color: rgba(0, 0, 0, 0.51);
    border: 1px solid #525252;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
}
.t_btn:hover {
    opacity: 1;
    -webkit-filter: brightness(1.8);
    border: 1px solid #383838;
}
.close {
    background-image: url('../images/x.png');
    right: 2px;
}
.dropbox_choice {
    padding-left: 18px;
    padding-right: 15px;
    height: 100%;
}
.dropbox_choice input[type="button"] {
    margin-top: 5px;
    float: right;
    background-color: rgba(53, 53, 53, 0.59);
    border: rgb(95, 95, 95) solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 34px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
}
.dropbox_choice input[type="button"]:hover {
    background-color: #424242;
}
.dropbox_choice input[type="button"]:active {
    background-color: #585858;
}
.dropbox_choice input[type="button"]:disabled {
    background-color: #000;
}
.dropbox_choice div.filelist {
    -webkit-app-region: no-drag;
    height: calc(100% - 65px);
    overflow: auto;
    margin-top: 2px;
    margin-right: 3px;
    border: 1px solid rgba(0, 0, 0, 0.46);
}
.dropbox_choice div.filelist > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dropbox_choice ul > li {
    padding: 2px;
    cursor: pointer;
    position: relative;
    padding-right: 24px;
}
.dropbox_choice ul > li:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.38);
}
.dropbox_choice ul > li:hover {
    background-color: rgba(66, 121, 204, 0.38);
}
.dropbox_choice ul > li .play { 
    position: absolute;
    right: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    background: url(../images/playback_play_w.png) no-repeat center;
    background-position-y: 2px;
    opacity: 0.7;
}
.dropbox_choice ul > li .play:hover {
    opacity: 1;
}
.dropbox_choice ul > li input { 
    position: absolute;
    right: 0px;
    top: 0px;
}
.dropbox_choice ul > li.selected {
    background-color: #0E4E72;
}