html {
    height: 100%;
    overflow: auto;
}
body {
    font-family: Verdana, sans-serif;
    font-size: 0.84em;
    margin: 0;
}
div.title {
    width: 720px;
    margin: 0 auto;
    font-size: 1.1em;
}
ul.menu {
    width: 720px;
    margin: 0 auto;
    background-color: #e6e6e6;
}
ul.menu li {
    display: inline-block;
    font-size: 1.1em;
}
ul.menu li {
    padding-top: 3px;
    padding-bottom: 3px;
}
ul.menu li a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #0051D8;
    border: 1px solid transparent;
    border-radius: 4px;
}
ul.menu li a.active {
    text-decoration: none;
    border-color: #ccc;
    color: #000;
}
div.page {
    width: 720px;
    margin: 0 auto;
    display: none;
}
div.page.active {
    display: block;
}
ul {
    list-style: none;
    padding: 0;
}
input {
    font-size: 1em;
}
select {
    font-size: 1em;
}
textarea {
    font-size: 1em;
}
input[type="button"] {
    font-size: 1em;
}
input[type="number"] {
    width: 60px;
}
fieldset {
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
fieldset.info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
    border-left-width: 5px;
    border-radius: 0px;
}
fieldset.info a {
    color: #c7254e;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #fff;
}
ul.item > li {
    display: inline-block;
}
.check_list ul.item {
    margin-bottom: 2px;
}
.check_list ul.item > li:first-child {
    padding: 6px 12px;
}
div.author a {
    color: #333333;
}
div.bottom {
    width: 720px;
    margin: 0 auto;
    font-size: 0.8em;
}
div.bottom div {
    display: inline-block;
}
div.author {
    float: right;
    text-align: right;
    color: #82838e;
    margin-top: 2px;
}
div.donate img {
    margin-bottom: -7px;
}
.lang div {
    text-align: center;
}
h1 {
    font-size: 36px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    box-sizing: border-box;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
li.save_btn {
    float: right;
}
li.save_btn a {
    background-color: #fff;
    border-color: #ccc !important;
}
li.save_btn a:hover {
    background-color: #ebebeb;
}
li.save_btn a:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
li.sub {
    padding-left: 30px;
}
div.topbtn {
    display: none;
    bottom: 0;
    width: 50px;
    height: 60px;
    background: url(../images/go_top.png) no-repeat center bottom;
    position: fixed;
    right: 0;
    z-index: 10;
    cursor: pointer;
    padding-top: 100%;
    opacity: 0.9;
}
div.topbtn:hover {
    background-color: #ddd;
}
fieldset.hotkeys span.key {
    background-color: #f0f7fd;
    border: 1px solid #d0e3f0;
    border-radius: 0;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    color: #c7254e;
}
.QRcodes {
    text-align: center;
}
.QRcodes > div {
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}