html {
    height: 100%;
}
body {
    margin: 0;
    -webkit-app-region: drag;
    background: -webkit-linear-gradient(top, #565A61 0%,#212125 120px,#212125 100%);
    color: #C9C9C9;
    height: 100%;
}
.t_btn {
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    float: right;
    opacity: 0.9;
    z-index: 50;
    cursor: pointer;
    -webkit-app-region: no-drag;
    position: absolute;
    top: 2px;
    -webkit-filter: invert(0.8);
    -webkit-filter: brightness(1.1);
    background-color: rgba(0, 0, 0, 0.51);
    border: 1px solid #525252;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
}
.t_btn:hover {
    opacity: 1;
    -webkit-filter: brightness(1.8);
    border: 1px solid #383838;
}
.mini {
    background-image: url('../images/_.png');
    right: 18px;
}
.close {
    background-image: url('../images/x.png');
    right: 2px;
}
.playlist_select {
    background-image: url(../images/select.png);
    right: 34px;
    display: none;
}
.read_tags {
    background-image: url('../images/read_tags_w.png');
    right: 2px;
}
ul.track_list {
}
div.playlist {
    overflow: auto;
    -webkit-app-region: no-drag;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #000000;
    height: calc(100% - 48px);
    margin-top: 2px;
}
div.playlist > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div.playlist > ul > li {
    list-style-type: none;
    height: 39px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}
div.playlist > ul > li .move {
    display: none;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: n-resize;
    background-image: url(../images/moveble.png);
    opacity: 0.5;
}
div.playlist > ul > li:hover .move {
    display: block;
}
div.playlist > ul > li .move:hover {
    opacity: 1;
}
div.playlist > ul > li > .gr_line {
    background: -webkit-linear-gradient(left, transparent 0%, rgba(109, 109, 109, 1) 50%, transparent 100%);
    height: 1px;
    margin-top: -5px;
    margin-bottom: 4px;
}
div.playlist > ul > li:first-child > .gr_line {
    background: none;
}
div.playlist > ul > li.selected {
    background-color: #39516F;
    color: #fff;
}
/*
@-webkit-keyframes loading {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}*/
div.playlist > ul > li.loading .cover {
    /*-webkit-animation: loading 3s infinite linear;*/
    background-image: url(../images/loading.png) !important;
    -webkit-filter: invert(1);
    background-size: 24px;
    background-position: center;
}
div.playlist > ul > li .cover {
    height: 39px;
    width: 39px;
    display: block;
    position: absolute;
    background-size: 39px;
    background-repeat: no-repeat;
    background-position: center;
}
div.playlist > ul > li .cover.pic_none {
    background-image: url(../images/no-cover.png);
    background-repeat: no-repeat;
}
div.playlist > ul > li > span {
    margin-left: 42px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
div.playlist > ul > li .name {
    margin-top: 5px;
    font-size: 120%;
}
div.playlist > ul > li .info {
}
div.navigation {
    position: fixed;
    bottom: 0px;
    max-height: 27px;
}
div.navigation > ul {
    margin: 0;
    padding: 0;
}
div.navigation li.btn {
    cursor: pointer;
    border-right: 1px solid #000000;
}
div.navigation li.btn:active {
    background-color: #161616;
}
div.navigation > ul > li {
    display: inline-block;
    height: 27px;
    overflow: hidden;
    width: 55px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-app-region: no-drag;
    margin-left: -3px;
}
div.navigation li.shuffle {
    background-image: url(../images/shuffle_w.png);
    background-position-y: 4px;
}
div.navigation li.loop {
    background-image: url(../images/loop_w.png);
    background-position-y: 7px;
}
div.navigation li.sort {
    background-image: url(../images/sort_w.png);
    background-position-y: 5px;
}
ul.pl_list_select::-webkit-scrollbar,
div.playlist::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}
ul.pl_list_select::-webkit-scrollbar-button,
div.playlist::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
ul.pl_list_select::-webkit-scrollbar-thumb:vertical,
div.playlist::-webkit-scrollbar-thumb:vertical {
    background-clip: padding-box;
    background-color: #565A61;
    border: 5px solid transparent;
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    height: 5px;
    width: 5px;
}
div.title {
    text-align: center;
    font-size: 110%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    color: #fff;
}
ul.pl_list_select {
    position: absolute;
    top: 19px;
    right: 0px;
    background-color: #1A1C22;
    border: 1px solid #000;
    border-radius: 3px;
    opacity: 0.9;
    margin: 0;
    min-width: 70px;
    padding: 2px;
    list-style-type: none;
    display: none;
    overflow: auto;
    max-width: 200px;
    max-height: calc(100% - 52px);
    color: #fff;
    overflow-x: hidden;
}
ul.pl_list_select > li > div.rm_btn {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    background-image: url('../images/x.png');
    right: 0px;
    border: 0;
    background-color: transparent;
}
ul.pl_list_select > li {
    position: relative;
    padding: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid #585858;
    color: #C9C9C9;
    padding-right: 16px;
}
ul.pl_list_select > li:last-child {
    border-bottom: 0;
}
ul.pl_list_select > li:hover {
    background-color: #39516F;
    color: #fff;
    cursor: pointer;
}
ul.pl_list_select > li.selected {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
div.drop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    display: none;
    z-index: 11;
    left: 0;
    top: 0;
}
div.drop > span {
    display: block;
    margin-top: 35px;
    border: 1px dashed #fff;
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 8px;
}


body.winamp {
    background: -webkit-linear-gradient(left, #1c1c2c 0%,#383758 50%,#1d1d2d 100%);
    font-size: 10px;
    color: rgb(33, 248, 33);
}
.winamp div.title {
    visibility: hidden;
    margin-bottom: 6px;
}
.winamp .w_head {
    background-image: url(../images/winamp/w_head.png);
    height: 20px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 3px;
    overflow: hidden;
}
.winamp .w_bottom {
    background-image: url(../images/winamp/w_bottom.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
}
.winamp .w_b_l {
    background-image: url(../images/winamp/w_b_l.png);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7px;
    width: 11px;
}
.winamp .w_b_r {
    background-image: url(../images/winamp/w_b_r.png);
    position: absolute;
    right: 0;
    bottom: 0;
    height: 7px;
    width: 8px;
}
.winamp .w_l_t {
    background-image: url(../images/winamp/w_l_t.png);
    position: absolute;
    left: 0;
    top: 0;
    height: 19px;
    width: 11px;
}
.winamp .w_r_t {
    background-image: url(../images/winamp/w_r_t.png);
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    width: 36px;
}
.winamp .w_left {
    background-image: url(../images/winamp/w_left.png);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 11px;
}
.winamp .w_right {
    background-image: url(../images/winamp/w_right_c.png);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4px;
}
.winamp div.playlist {
    background-color: #000;
    width: calc(100% - 15px);
    margin-left: 11px;
    background-image: url(../images/winamp/w_right.png);
    background-repeat: repeat-y;
    background-position-x: 100%;
}
.winamp .close {
    background-image: url(../images/winamp/close.png) !important;
    width: 7px;
    height: 7px;
    border-radius: 0;
    border: 0;
    background-color: inherit;
    background-size: 7px 7px;
    top: 4px;
    right: 3px;
    opacity: 1;
    -webkit-filter: inherit;
}
.winamp .close:hover {
    opacity: 1;
    -webkit-filter: brightness(1.5);
}
.winamp .mini {
    background-image: url(../images/winamp/mini.png) !important;
    width: 7px;
    height: 7px;
    border-radius: 0;
    border: 0;
    background-color: inherit;
    background-size: 7px 7px;
    right: 14px;
    top: 4px;
    opacity: 1;
    -webkit-filter: inherit;
}
.winamp .mini:hover {
    opacity: 1;
    -webkit-filter: brightness(1.5);
}
.winamp div.navigation {
    margin-left: 11px;
}
.winamp div.playlist_select {
    display: block;
    right: 21px;
    border: 0;
    background-color: initial;
    -webkit-filter: brightness(1.7);
    border-radius: 0;
    top: 1px;
}
.winamp div.playlist {
    overflow-y: scroll;
    overflow-x: hidden;
}
.winamp div.playlist_select:hover {
    -webkit-filter: brightness(5);
}
.winamp div.playlist > ul > li .cover {
    display: none;
}
.winamp div.playlist > ul > li > span {
    margin-top: 0;
    margin-left: 3px;
}
.winamp div.playlist > ul > li > span.info {
    display: none;
}
.winamp div.playlist > ul > li {
    height: auto;
}
.winamp div.playlist > ul > li > .gr_line {
    display: none;
}
.winamp div.playlist > ul > li .move {
    top: -1px;
}
.winamp div.playlist > ul > li {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
    border-radius: 0;
}
.winamp div.playlist > ul > li.selected {
    background-color: #0000C6;
}
.winamp div.playlist::-webkit-scrollbar-thumb:vertical {
    background: url(../images/winamp/scroll.png) no-repeat top center;
    min-height: 8px;
    min-width: 18px;
    max-height: 8px;
    max-width: 18px;
    height: 8px;
    width: 18px;
    border: 0;
    border-radius: 0;
}