body {
    margin: 0;
    -webkit-app-region: drag;
    background: -webkit-linear-gradient(top, #565A61 0%,#212125 120px,#212125 100%);
    color: #C9C9C9;
}
.t_btn {
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    float: right;
    opacity: 0.9;
    z-index: 50;
    cursor: pointer;
    -webkit-app-region: no-drag;
    position: absolute;
    top: 2px;
    -webkit-filter: invert(0.8);
    -webkit-filter: brightness(1.1);
    background-color: rgba(0, 0, 0, 0.51);
    border: 1px solid #525252;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
}
.t_btn:hover {
    opacity: 1;
    -webkit-filter: brightness(1.8);
    border: 1px solid #383838;
}
.mini {
    background-image: url('../images/_.png');
    right: 18px;
}
.close {
    background-image: url('../images/x.png');
    right: 2px;
}
.playlist_select {
    background-image: url(../images/select.png);
    right: 34px;
    display: none;
}
div.playlist {
}
ul.track_list {
}
div.playlist {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    overflow: auto;	
    -webkit-app-region: no-drag;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #000000;
}
div.playlist > ul {
    margin: 0;
    padding: 0;
}
div.playlist > ul > li {
    list-style-type: none;
    height: 39px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}
div.playlist > ul > li > .gr_line {
    background: -webkit-linear-gradient(left, transparent 0%, rgba(109, 109, 109, 1) 50%, transparent 100%);
    height: 1px;
    margin-top: -5px;
    margin-bottom: 4px;
}
div.playlist > ul > li:first-child > .gr_line {
    display: none;
}
div.playlist > ul > li.selected {
    background-color: #39516F;
    color: #fff;
}
div.playlist > ul > li .cover {
    height: 39px;
    width: 39px;
    display: block;
    position: absolute;
    background-size: 39px 39px;
}
div.playlist > ul > li .cover.pic_none {
    background-image: url(../images/no-cover.png);
    background-repeat: no-repeat;
}
div.playlist > ul > li > span {
    margin-left: 42px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
div.playlist > ul > li .name {
    margin-top: 8px;
}
div.playlist > ul > li .info {
}
div.navigation {
}
div.navigation > ul {
    margin: 0;
    padding: 0;
}
div.navigation li.btn {
    cursor: pointer;
    border-right: 1px solid #000000;
}
div.navigation li.btn:active {
    background-color: #161616;
}
div.navigation > ul > li {
    display: inline-block;
    height: 27px;
    overflow: hidden;
    width: 55px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-app-region: no-drag;

}
div.navigation li.shuffle {
    background-image: url(../images/shuffle_w.png);
    background-position-y: 4px;
}
div.navigation li.loop {
    background-image: url(../images/loop_w.png);
    background-position-y: 7px;
}
div.playlist {
    margin-right: 3px;
}
div.playlist::-webkit-scrollbar {
    width: 6px;
}
div.playlist::-webkit-scrollbar-thumb:vertical {
    margin: 5px;
    background-color: #565A61;
    -webkit-border-radius: 5px;
}
div.playlist::-webkit-scrollbar-button:start:decrement,
div.playlist::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
}
div.title {
    text-align: center;
    float: left;
    width: 100%;
    font-size: 110%;
    max-height: 20px;
    overflow: hidden;
}
ul.list_select {
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: #252525;
    border: 1px solid #000;
    border-radius: 3px;
    opacity: 0.9;
    margin: 0;
    min-width: 70px;
    padding: 2px;
    list-style-type: none;
    display: none;
    overflow: auto;
    max-width: 200px;
    max-height: calc(100% - 53px);
    color: #fff;
}
ul.list_select li {
    position: relative;
    padding: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 3px;
}
ul.list_select li:hover {
    background-color: #39516F;
    color: #fff;
    cursor: pointer;
}
ul.list_select::-webkit-scrollbar {
    width: 6px;
}
ul.list_select::-webkit-scrollbar-thumb:vertical {
    margin: 5px;
    background-color: #565A61;
    -webkit-border-radius: 5px;
}
ul.list_select::-webkit-scrollbar-button:start:decrement,
ul.list_select::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
}