body {
    margin: 0;
    -webkit-app-region: drag;
    border: 1px solid #CACACA;
}
.t_btn {
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    float: right;
    opacity: 0.7;
    z-index: 50;
    cursor: pointer;
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0px;
}
.t_btn:hover {
    opacity: 1;
}
.mini {
    background: url('../images/_.png') center no-repeat;
    right: 20px;
}
.close {
    background: url('../images/x.png') center no-repeat;
    right: 0px;
}
div.playlist {
}
ul.track_list {
}
div.playlist {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    overflow: auto;	
    -webkit-app-region: no-drag;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}
div.playlist > ul {
    margin: 0;
    padding: 0;
}
div.playlist > ul > li {
    list-style-type: none;
    height: 39px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}
div.playlist > ul > li > .gr_line {
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(214, 214, 214, 1) 50%, rgba(255,255,255,1) 100%);
    height: 1px;
    margin-top: -5px;
    margin-bottom: 4px;
}
div.playlist > ul > li.selected {
    background-color: #8BA7C9;
    background-image: url(../images/playing.png);
    background-repeat: no-repeat;
    background-position: center right;
    color: #fff;
}
div.playlist > ul > li .cover {
    height: 39px;
    width: 39px;
    display: block;
    position: absolute;
    background-size: 39px 39px;
}
div.playlist > ul > li .cover.pic_none {
    background-image: url(../images/no-cover.png);
    background-repeat: no-repeat;
    -webkit-filter: grayscale(1);
}
div.playlist > ul > li > span {
    margin-left: 42px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 14px;
}
div.playlist > ul > li .name {
    margin-top: 8px;
}
div.playlist > ul > li .info {
}
div.navigation {
}
div.navigation > ul {
    margin: 0;
    padding: 0;
}
div.navigation li.btn {
    cursor: pointer;
}
div.navigation li.btn:active {
    background-color: #ccc;
}
div.navigation > ul > li {
    display: inline-block;
    height: 25px;
    overflow: hidden;
    width: 55px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-app-region: no-drag;
}
div.navigation li.shuffle {
    background-image: url(../images/shuffle.png);
    background-position-y: 4px;
}
div.navigation li.loop {
    background-image: url(../images/loop.png);
    background-position-y: 7px;
}