html {
    background-color:#000;
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    -webkit-app-region: drag;
}
.main {
    position:fixed;
    top: 0px;
    left: 0px;
}
.need_addon {
    text-align: center;
    font-size: 300%;
    color: #67C2FF;
    -webkit-app-region: no-drag;
}